<div id="content">

    <form (ngSubmit)="onSubmit()" #inputForm="ngForm">
        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" id="name" name="name" required [(ngModel)]="formModel.name">
        </div>
        <div class="form-group">
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="owner" id="user" value="user" [ngModel]="formModel.ownerType" (ngModelChange)="ownerTypeChange($event)">
                <label class="form-check-label" for="user">User</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="owner" id="organisation" value="organisation" [ngModel]="formModel.ownerType"
                    (ngModelChange)="ownerTypeChange($event)">
                <label class="form-check-label" for="organisation">Organisation</label>
            </div>
        </div>

        <div *ngIf="formModel.ownerType == 'user'">
            <div class="form-group">
                <label for="name">Sort Term</label>
                <select class="form-control" id="sort-term" [(ngModel)]="formModel.sortTerm" name="sort-term">
                    <option *ngFor="let term of userSortTerms" [ngValue]="term">{{term.name}}</option>
                </select>
            </div>
            <div class="form-group">
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="direction" id="ascending" value="asc" [(ngModel)]="formModel.sortDirection">
                    <label class="form-check-label" for="ascending">Ascending</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="direction" id="descending" value="desc" [(ngModel)]="formModel.sortDirection">
                    <label class="form-check-label" for="descending">Descending</label>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label for="name">Filter Type</label>
            <select class="form-control" id="type" required [(ngModel)]="formModel.filterType" name="type">
                <option *ngFor="let type of availableFilterTypes" [ngValue]="type">{{type.name}}</option>
            </select>
        </div>

        <div class="form-submit">
            <button type="submit" class="btn btn-success submit" [disabled]="!inputForm.form.valid">Get Repos</button>
        </div>
    </form>

    <div class="table-responsive">
        <table class="table">
            <caption>List of Repos</caption>
            <thead>
                <tr>
                    <th *ngFor="let column of columns" id="{{column.id}}" scope="col" (click)="sort(column)">{{column.header}}
                        <span *ngIf="sortedColumn == column">
                            <span *ngIf="sortedState == 'asc'">ASC</span>
                            <span *ngIf="sortedState == 'desc'">DESC</span>
                        </span>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let result of results">
                    <td *ngFor="let column of columns">
                        <span *ngIf="column.type == 'string'">{{result[column.id]}}</span>
                        <span *ngIf="column.type == 'date'">{{result[column.id] | date:'short'}}</span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <nav>
        <ul class="pagination">
            <li class="page-item" [ngClass]="{'disabled': activePage<=1}" (click)="selectPage(activePage-1)">
                <a class="page-link" href="#">Previous</a>
            </li>
            <li *ngFor="let i of numberOfPages | iterate" class="page-item" [ngClass]="{'active': activePage==i}" (click)="selectPage(i)">
                <a class="page-link" href="#">{{i}}</a>
            </li>
            <li class="page-item" [ngClass]="{'disabled': activePage>=numberOfPages}" (click)="selectPage(activePage+1)">
                <a class="page-link" href="#">Next</a>
            </li>
        </ul>
    </nav>

</div>